.banner {
    background-image: var(--cor-azul-degrade);
    color: var(--cor-branco);
    display: flex;
    justify-content: center;
}
.banner__box {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
}
.banner__titulo {
    font-weight: 700;
    font-size: 1.1rem;
}
.banner__texto {
    font-weight: 500;
    line-height: 1.5rem;
    width: 85%;
}
.banner__pesquisa{
    background-color: transparent;
    border: solid 1px var(--cor-branco);
    border-radius: 2rem;
    color: var(--cor-branco);
    font-weight: 300;
    font-size: 0.9rem;
    text-align: center;
    padding: 0.8rem;
    width: 90%;
}
.banner__pesquisa::placeholder{
    color: var(--cor-branco);
    font-family: var(--font-principal);
    background: url("../assets/lupa.svg") no-repeat;
    background-position: 1rem;
    padding-left: 2rem;
}

@media screen and (min-width:1024px) {

    .banner__box {
        width: 70%;
        padding: 4rem 0;
    }
    .banner__titulo {
        font-size: 2rem;
    }
    .banner__pesquisa {
        width: 60%;
    }
    .banner__pesquisa::placeholder {
        background-position: 4.5rem;
    }
}