.banner {
    background-image: var(--cor-azul-degrade);
    color: var(--cor-branco);
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
}
.banner__titulo {
    font-weight: 700;
    font-size: 1.1rem;
}
.banner__texto {
    font-weight: 500;
    width: 85%;
    line-height: 1.5rem;
}
.banner__pesquisa{
    background-color: transparent;
    text-align: center;
    border: solid 1px var(--cor-branco);
    border-radius: 2rem;
    width: 90%;
    font-weight: 300;
    padding: 0.8rem;
    font-size: 0.9rem;
}