.carrossel_titulo {
    background-color: var(--cor-branco);
    color: var(--cor-laranja);
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1.2rem 0 0.5rem 0;
}
.swiper-slide img {
    width: 100%;
}
.swiper-button-prev, .swiper-button-next {
    display: none;
}
.swiper-pagination {
    position: initial;
    margin: 0.5rem 0;
}

.card {
    background-color: var(--cor-branco);
    box-shadow: 0px 4px 4px #00000025;
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}
.card__descricao {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.1rem;
    margin-bottom: 1rem;
}
.descricao {
    display: flex;
    flex-direction: column;
}
.descricao-estrelas {
    margin-top: 0.2rem;
}
.descricao-titulo {
    color: var(--cor-laranja);
    font-weight: 700;
    margin-top: 0.3rem;
}
.descricao-livro {
    color: var(--cor-azul);
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0.7rem 0;
}
.descricao-texto {
    color: var(--cor-preto-semi-trans);
    font-size: 0.9rem;
}
.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.botoes-img {
    display: flex;
    align-items: center;
    gap: 1.7rem;
    margin-left: 0.75rem;
}
.botoes-img img {
    width: 70%;
}
.botoes-link {
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    font-weight: 700;
    padding: 1rem 2rem;
    margin-right: 0.2rem;
    text-decoration: none;
}