.contato {
    background-color: var(--cor-branco);
    padding: 1rem;
}
.contato__titulo, 
.contato__texto {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.contato__titulo {
    font-size: 1.2rem;
    font-weight: 500;
}
.contato__texto {
    font-weight: 300;
    margin: 1rem 0;
}
.contato__email {
    padding: 1rem;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
    width: 90%;
    color: var(--cor-azul);
}
.contato__email::placeholder {
    font-family: var(--font-principal);
    color: var(--cor-azul);
    background-image: url(../assets/email.svg);
    background-repeat: no-repeat;
    padding-left: 2rem;
}

@media screen and (min-width:1024px) {
    
    .contato {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 6rem;
        gap: 2rem;
    }
    .contato__box {
        width: 40%;
    }
    .contato__titulo {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .contato__texto {
        margin-top: 1.5rem;
        line-height: 1.5rem;
    }
    .contato__email {
        width: 40%;
    }
}