
.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cabecalho__menusandwich {
    width: 24px;
    height: 24px;
    background-image: url(../assets/menu_sandwich.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1rem;
}
.container__botao {
    display: none;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}
.lista-menu__titulo , .lista-menu__item {
    padding: 1rem;
    background-color: var(--cor-branco);
}
.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: bold;
}
.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__titulo, 
.container__titulo--negrito,
.container__nav,
.imagem-descricao {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo, .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 2rem;
        display: inline-block;
    }
    .container__titulo {
        font-weight: 400;
    }
    .container__titulo--negrito {
        font-weight: 700;
    }
    .container__nav {
        display: flex;
        gap: 1.5rem;
    }
    .container__nav--itens {
        text-transform: uppercase;
        color: var(--cor-preto);
    }
    .container__nav--links {
        color: var(--cor-preto);
        text-decoration: none;
    }
    .nav__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }
    .nav__botao {
        display: none;
    }
    .container__imagem-transparente,
    .cabecalho__menusandwich {
        display: none;
    }
}

@media screen and (min-width: 1728px) {

    .cabecalho {
        padding: 0 2rem;
    }
    .container__titulo {
        padding-right: 3rem;
    }
    .container__nav {
        margin-right: auto;
    }
    .container__box {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preto);
    }
    .imagem-descricao {
        display: inline-block;
    }
}