
.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.cabecalho__menusandwich {
    width: 24px;
    height: 24px;
    background-image: url(../assets/menu_sandwich.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1rem;
}
.container__botao {
    display: none;
}
.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 65vw;
}
.container__botao:checked ~ .lista-menu {
    display: block;
}
.lista-menu__titulo , .lista-menu__item {
    padding: 1rem;
    background-color: var(--cor-branco);
}
.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: bold;
}
.lista-menu__link {
    background: var(--cor-azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}